In [17]:
import sqlite3
import os
import pandas as pd

In [2]:
conn = sqlite3.connect('reviews.sqlite')
c = conn.cursor()
c.execute('CREATE TABLE review_db'\
' (review TEXT, sentiment INTEGER, date TEXT)')
example1 = 'I love this movie'
c.execute("INSERT INTO review_db"\
    " (review, sentiment, date) VALUES"\
    " (?, ?, DATETIME('now'))", (example1, 1))

In [3]:
example2 = 'I disliked this movie'
c.execute("INSERT INTO review_db"\
          " (review, sentiment, date) VALUES"\
          " (?, ?, DATETIME('now'))", (example2, 0))
conn.commit()
conn.close()

In [23]:
conn = sqlite3.connect('reviews.sqlite')
c = conn.cursor()
c.execute("SELECT * FROM review_db WHERE date BETWEEN '2015-01-01 00:00:00' AND DATETIME('now')")
results = c.fetchall()
conn.close()

In [24]:
pd.DataFrame(results, columns=['review', 'sentiment', 'date'])

,review,sentiment,date
0,I love this movie,1,2020-12-03 12:07:21
1,I disliked this movie,0,2020-12-03 12:07:22
2,jhs ro sk adnbds a knsngv a KnvVS DNc AK Sc,1,2020-12-03 14:23:29
3,"Movie is very good. I liked it, acting was superb",1,2020-12-03 14:23:59
4,This is just to check if it is working fine.,0,2020-12-03 14:26:07
5,"this movie is fantastic, acting was good.",1,2020-12-03 15:01:14
6,"I love this movie, acting was great..",0,2020-12-03 16:01:13
7,"I love this movie, acting was fantastic and th...",1,2020-12-04 15:14:02
8,"This is the data by Pankaj, and also of Naipal...",1,2020-12-06 05:34:04